


.ridimensionamento_gilbert{   
    height: 30%;
    width: 30%;
    margin-right: 15%;
    padding: 20px 0px 20px 40px; 
}



.ridimensionamento_benjamin { 
    height: 30%;
    width: 24%;
    margin-left: 20%;
    padding: 0px 40px 0px 0px; 
}




@media (max-width: 1300px) {
    
    .ridimensionamento_gilbert { 

        margin-right: 5%;
        padding: 20px 0 20px 20px; 
    }
      
    
    .ridimensionamento_benjamin  { 
        margin-left: 5%;
        padding: 0px 40px 20px 0; 
    }
    

}




@media (max-width: 480px) {
    
    .ridimensionamento_gilbert { 
 
        margin-right: 4%;
        padding: 0px 0px 0px 20px; 
    }
    
  
    .ridimensionamento_benjamin  { 

        margin-left: 4%;
        padding: 20px 10px 0px 0px; 
    }
    

}